@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Hind+Madurai:wght@400;500&family=Poppins&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #0084ff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 40px;
}

.container p {
    position: relative;
    top: 20px;
    font-size: 16px;
    color: #fff;
}

span {
    color: #000;
}

h2 {
    padding-top: 25px;
}

.box {
    width: 450px;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #fff;
    border-radius: 8px;
    color: #fff;
}

.text-location {
    font-size: 20px;
}

h1 {
    display: none;
    padding-top: 25px;
}

.open-text {
    display: block;
}

.btn {
    cursor: pointer;
    width: 130px;
    height: 30px;
    font-size: 1em;
    margin-top: 10px;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 8px;
}

.btn:hover {
    background: #0ef;
    transition: 0.5s;
    border: none;
}

.btn:active {
    font-size: 15px;
}

.map {
    position: relative;
    margin-top: 30px;
}

.close-btn {
    cursor: pointer;
    position: relative;
    left: 180px;
    top: 35px;
    background: none;
    border: none;
    width: 70px;
    height: 25px;
    font-size: 23px;
}

.close-btn:hover {
    background: red;
    transition: 0.2s;
}

.close-btn a {
    color: #fff;
}

@media only screen and (max-width: 452px) {
    .box {
        width: 395px;
        font-size: 13px;
    }
    
    .text-location {
        font-size: 15px;
    }
    
    .close-btn {
        margin-right: 60px;
    }
}

@media only screen and (max-width: 406px) {
    .box {
        width: 380px;
        font-size: 12px;
    }
    
    .text-location {
        font-size: 12px;
    }
}

@media only screen and (max-width: 390px) {
    .box {
        width: 350px;
        font-size: 12px;
    }
    
    .text-location {
        font-size: 11px;
    }
    
    .close-btn {
        margin-right: 100px;
    }
}

@media only screen and (max-width: 360px) {
    .box {
        width: 320px;
        font-size: 12px;
    }
    
    .text-location {
        font-size: 12px;
    }
    
    .close-btn {
        margin-right: 130px;
    }
}

@media only screen and (max-width: 362px) {
    .box {
        width: 320px;
        font-size: 13px;
    }
    
    .text-location {
        font-size: 12px;
    }
    
}